In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("belgian_property_prices.csv")

In [33]:
df.head()

,as_built_plan,available_as_of,basement,bathrooms,bedroom_1_surface,bedroom_2_surface,bedroom_3_surface,bedrooms,building_condition,co2_emission,...,width_of_the_lot_on_the_street,yearly_theoretical_total_energy_consumption,housenumber,street,city,postal,state,lat,lng,price
0,0.0,After signing the deed,1.0,1.0,12.0,10.0,10.0,3.0,Good,9802.0,...,11.0,NaN,30,Stationsstraat,Ronse,9600.0,Vlaams Gewest,50.743367,3.601306,275000
1,0.0,After signing the deed,1.0,1.0,15.0,11.0,11.0,4.0,Good,NaN,...,NaN,NaN,52,Wingenesteenweg,Wingene,8750.0,Vlaams Gewest,51.042146,3.302600,430000
2,NaN,After signing the deed,1.0,3.0,22.0,22.0,22.0,5.0,As new,NaN,...,6.0,NaN,157,Mechelsesteenweg,Antwerpen,2018.0,Vlaams Gewest,51.205030,4.410943,949000
3,0.0,NaN,NaN,3.0,33.0,30.0,23.0,5.0,As new,NaN,...,19.0,NaN,66,Noordzandstraat,Brugge,8000.0,Vlaams Gewest,51.206826,3.219186,2200000
4,0.0,After signing the deed,NaN,NaN,19.0,NaN,NaN,1.0,Just renovated,58.0,...,5.0,24263.0,15,Rue de l'Etoile,Wavre,1301.0,Région Wallonne,50.717062,4.577550,195000

In [40]:
df.shape[0]

4770

In [34]:
df.columns

Index(['as_built_plan', 'available_as_of', 'basement', 'bathrooms',
       'bedroom_1_surface', 'bedroom_2_surface', 'bedroom_3_surface',
       'bedrooms', 'building_condition', 'co2_emission', 'cadastral_income',
       'connection_to_sewer_network', 'construction_year',
       'covered_parking_spaces', 'dining_room', 'double_glazing',
       'energy_class', 'external_reference', 'flood_zone_type', 'furnished',
       'garden_surface', 'gas_water__electricity', 'heating_type',
       'kitchen_surface', 'kitchen_type', 'latest_land_use_designation',
       'living_area', 'living_room_surface', 'number_of_frontages', 'office',
       'outdoor_parking_spaces', 'planning_permission_obtained',
       'possible_priority_purchase_right', 'primary_energy_consumption',
       'proceedings_for_breach_of_planning_regulations',
       'reference_number_of_the_epc_report', 'street_frontage_width',
       'subdivision_permit', 'surface_of_the_plot', 'surroundings_type',
       'tv_cable', 'tenement_building', 'toilets', 'website',
       'width_of_the_lot_on_the_street',
       'yearly_theoretical_total_energy_consumption', 'housenumber', 'street',
       'city', 'postal', 'state', 'lat', 'lng', 'price'],
      dtype='object')

In [35]:
df1 = df[["price", "living_area", "garden_surface", "energy_class", "covered_parking_spaces", "outdoor_parking_spaces", "construction_year", "surroundings_type"]]

In [36]:
df1.head()

,price,living_area,garden_surface,energy_class,covered_parking_spaces,outdoor_parking_spaces,construction_year,surroundings_type
0,275000,156.0,350.0,F,1.0,3.0,1953.0,"Living area (residential, urban or rural)"
1,430000,209.0,6000.0,C,NaN,NaN,1987.0,NaN
2,949000,281.0,33.0,D,NaN,NaN,1887.0,Urban
3,2200000,439.0,466.0,D,1.0,NaN,1833.0,Urban
4,195000,70.0,NaN,D,NaN,NaN,1850.0,Urban

In [37]:
df1 = df1[df1['surroundings_type'] == 'Urban']

In [41]:
#filling NA values for parking space and garden surface with 0

df1["covered_parking_spaces"] = df1["covered_parking_spaces"].fillna(0)


df1["garden_surface"] = df1["garden_surface"].fillna(0)

df1["outdoor_parking_spaces"] = df1["outdoor_parking_spaces"].fillna(0)

In [42]:
df1.head()

,price,living_area,garden_surface,energy_class,covered_parking_spaces,outdoor_parking_spaces,construction_year,surroundings_type
2,949000,281.0,33.0,D,0.0,0.0,1887.0,Urban
3,2200000,439.0,466.0,D,1.0,0.0,1833.0,Urban
4,195000,70.0,0.0,D,0.0,0.0,1850.0,Urban
6,275000,167.0,0.0,D,2.0,0.0,1930.0,Urban
7,275000,167.0,0.0,D,2.0,0.0,1930.0,Urban

In [43]:
df1.shape[0]

764